{% extends 'applications/base.html' %}
{% load tz %}

{% block content %}
<div class="container-fluid">
<table class="table">
    <thead>
    <tr>
        <th scope="col" class="col-1">id</th>
        <th scope="col" class="col-1">Фамилия</th>
        <th scope="col" class="col-1">Имя</th>
        <th scope="col" class="col-1">Отчество</th>
        <th scope="col" class="col-1">ИНН организации</th>
        <th scope="col" class="col-2">Должность</th>
        <th scope="col" class="col-2">Автор заявки</th>
        <th scope="col" class="col-2">Дата создания</th>
        <th scope="col" class="col-2">Действие</th>
    </tr>
    </thead>
    {% for contact in contacts %}
    <tbody>
    <tr>
        <td>{{contact.pk}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.patronymic}}</td>
        <td>{{contact.inn}}</td>
        <td>{{contact.post}}</td>
        <td>{{contact.id_appl.last_name}} {{contact.id_appl.first_name}} {{contact.id_appl.patronymic}}</td>
        <td>{{contact.date_created|date:"d M Y"}} {{ contact.date_created|time:"H:i" }}</td>
        <td><a class="btn btn-success" href="{% url 'applications:off_contact' contact.id %}">Закрыть заявку</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">первая</a>
            <a class="btn btn-outline-primary" href="?page={{ contacts.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ contacts.number }} из {{ contacts.paginator.num_pages }}
        </span>

        {% if contacts.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ contacts.next_page_number }}">следующая</a>
            <a class="btn btn-outline-primary" href="?page={{ contacts.paginator.num_pages }}">последняя</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}